services:
  app:
    build: .
    container_name: arcadia-app
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 5000

      DATABASE_URL: postgresql://arcadia_user:senha@db:5432/arcadia_suite
      PGHOST: db
      PGPORT: 5432
      PGUSER: arcadia_user
      PGPASSWORD: senha
      PGDATABASE: arcadia_suite

      SESSION_SECRET: teste-local-secret
      SESSION_COOKIE_SECURE: "false"

      PLUS_AUTO_START: "false"
      PLUS_HOST: frontend
      PLUS_PORT: 80
      PLUS_BASE_URL: http://frontend

    depends_on:
      - db

    networks:
      - controlplus

  db:
    image: postgres:15
    container_name: arcadia-db
    environment:
      POSTGRES_USER: arcadia_user
      POSTGRES_PASSWORD: senha
      POSTGRES_DB: arcadia_suite
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - controlplus

volumes:
  pgdata:

networks:
  controlplus:
    external: true
